.header {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
}

.nave {
    display: flex;
    padding: 0 12px;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 9999px;
    color: #4a5568;
    justify-content: center;
    align-items: center;

    transition: box-shadow 0.5s ease;

    animation: animationNav 2s linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;

    background-color: rgba(31, 41, 55, 0); /* bg-gray-800/0 */
}

.nav-link {
    position: relative;
    display: block;
    padding: 8px;
    transition: color 0.3s ease;
    text-decoration: none;
    color: white;

    &:hover {
        color: #4299e1;
        /* hover:text-blue-500 */
    }

}

.nav-link.active {
    color: #4299e1;
}

@keyframes animationNav {
    to {
        box-shadow: 0 0 0 calc(1px + var(--ring-offset-width, 0px)) var(--ring-color, rgba(59, 130, 246, 0.5));
        backdrop-filter: blur(1000px);
        color: black;
        border: 2px solid  rgba(86, 102, 122, 0);;
    }
}