
.span {
    background-color: #bfdbfe; 
    color: #1e40af;            
    font-size: 0.75rem;        
    font-weight: 500;          
    margin-inline-end: 0.625rem; 
    padding: 0.125rem 0.625rem; 
    border-radius: 0.25rem;   
}

/* Estilos para modo oscuro */
@media (prefers-color-scheme: dark) {
    .span {
        background-color: #1e3a8a; 
        color: #93c5fd;            
    }
}