*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    color-scheme:  dark;
}

body {
    display: flex;
    flex-direction: column;
    background: #050505;
    min-height: 100vh;
}

@media (prefers-reduced-motion: reduce) {

    html {
        scroll-behavior: auto;
    }

}